/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.main-content {
		margin-left: 0!important;
	}

	.sidenav {
		transform: translateX(-300px);
	}

	.nav-open {
		transform: translateX(0);
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.main-content {
		margin-left: 0!important;
	}

	.sidenav {
		transform: translateX(-300px);
	}

	.nav-open {
		transform: translateX(0);
	}
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.main-content {
		margin-left: 0!important;
	}

	.sidenav {
		transform: translateX(-300px);
	}

	.nav-open {
		transform: translateX(0);
	}
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.main-content {
		margin-left: 0!important;
	}

	.sidenav {
		transform: translateX(-300px);
	}

	.nav-open {
		transform: translateX(0);
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	.active .sidenav-toggler-line {
		background-color: white;
	}
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
}